<section class="about">
  <div class=container-fluid>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="about--picture">
          <img src="../../assets/images/pic.jpg">
        </div>
        <div class="about--info">
          <div><span class="accent">Name: </span>Madison Thames</div>
          <div><span class="accent">Email: </span>madisonpaigethames@gmail.com</div>
          <div><span class="accent">Phone: </span>(903) 717-1464</div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8">
        <div class="about-wrapper">
          <h1>About</h1>
          <p>I'm a former collegiate athlete turned web developer with a passion for music and design. I've gravitated towards front end development and CSS, but am comfortable anywhere in the stack. </p>

            <p>When I'm not writing code, you can find me at a record store. </p>
        </div>
        <div class="skills-wrapper">
          <h1>Skills</h1>
          <div class="skills">
            <figure class="skill">
              <div class="skill--label">React JS</div>
              <div class="skill--expertise-bar" style="width: 75%"></div>
            </figure>
            <figure class="skill">
              <div class="skill--label">Redux</div>
              <div class="skill--expertise-bar" style="width: 50%"></div>
            </figure>
            <figure class="skill">
              <div class="skill--label">JavaScript</div>
              <div class="skill--expertise-bar" style="width: 70%"></div>
            </figure>
            <figure class="skill">
              <div class="skill--label">HTML</div>
              <div class="skill--expertise-bar" style="width: 85%"></div>
            </figure>
            <figure class="skill">
              <div class="skill--label">CSS</div>
              <div class="skill--expertise-bar" style="width: 75%"></div>
            </figure>
            <figure class="skill">
              <div class="skill--label">SASS</div>
              <div class="skill--expertise-bar" style="width: 55%"></div>
            </figure>
            <figure class="skill">
              <div class="skill--label">Node.js</div>
              <div class="skill--expertise-bar" style="width: 50%"></div>
            </figure>
            <figure class="skill">
              <div class="skill--label">Express JS</div>
              <div class="skill--expertise-bar" style="width: 40%"></div>
            </figure>
            <figure class="skill">
              <div class="skill--label">PostgreSQL</div>
              <div class="skill--expertise-bar" style="width: 50%"></div>
            </figure>
            <figure class="skill">
              <div class="skill--label">External APIs</div>
              <div class="skill--expertise-bar" style="width: 65%"></div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
