@import '../../sass/output.scss';
@import '../../sass/components/buttons';

.portfolio {

  &--item {
    position: relative;
    margin-bottom: 40px;
  }

  &--background {
    width: 100%;
    background-size: cover;
    padding-top: 100%;

    &.apple {
      background-image: url('../../assets/images/portfolio/apple.png');
    }

    &.devflix {
      background-image: url('../../assets/images/portfolio/devflix.png');
    }

    &.alpha {
      background-image: url('../../assets/images/portfolio/alpha2.png');
    }

    &.matchflick {
      // background-image: url('../../assets/images/portfolio/matchflick.png');
    }

  }

  &--desc {
    margin-top: 20px;
  }

  &--year-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: $color-accent;
    color: $white;
    padding: 10px 25px;
    border-radius: 30px;
  }

  .buttons {
    display: flex;

    div {
      margin-right: 10px;
    }
  }
}
