<section class="portfolio">
  <h1>Recent Work</h1>
  <div class=container-fluid>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="portfolio--item">
          <div class="portfolio--background apple">

          </div>
          <div class="portfolio--desc">
            <h5>iMusic</h5>
            <p><b>Technologies:</b> React, NodeJS, Javascript, HTML5, CSS3, iTunes API</p>
            <div class="buttons">
              <div><a href="https://www.isnetworld.com" target="_blank"><button class="transparent">View Site</button></a></div>
              <div><a href="https://github.com/madisonthames/music" target="_blank"><button class="transparent">View Code</button></a></div>
              </div>
          </div>
          <div class="portfolio--year-badge">2019</div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="portfolio--item">
          <div class="portfolio--background alpha">

          </div>
          <div class="portfolio--desc">
            <h5>Alpha Airlines</h5>
            <p><b>Technologies:</b> React, Redux, JavaScript, SASS, Node.js, Express, Oauth, Bcrypt, Third Party API </p>
            <div class="buttons">
            <div><a href="https://www.isnetworld.com" target="_blank"><button class="transparent">View Site</button></a></div>
            <div><a href="https://github.com/flight-club/flight-club" target="_blank"><button class="transparent">View Code</button></a></div>
            </div>
          </div>
          <div class="portfolio--year-badge">2019</div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="portfolio--item">
          <div class="portfolio--background devflix">

          </div>
          <div class="portfolio--desc">
            <h5>Devflix</h5>
            <p><b>Technologies:</b> React, Redux, JavaScript, SASS, Node.js, Express, Bcrypt, Third Party API</p>
            <div class="buttons">
              <div><a href="https://www.isnetworld.com" target="_blank"><button class="transparent">View Site</button></a></div>
              <div><a href="https://github.com/madisonthames/devflix" target="_blank"><button class="transparent">View Code</button></a></div>
              </div>
          </div>
          <div class="portfolio--year-badge">2019</div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
  
      </div>
    </div>
  </div>
</section>
